body, html {
  height: 100%;
}

span {
  margin: 0px 10px;
  font: 1em;
}

h1 {
  font-size: 1.25em;
}

input {
  font-size: 1em;
}

button {
  font-size: 1.25em;
  border: none;
  height: 37px;
  width: 45%;
  background-color: #ffc107;
  color: white;
  margin: 20px;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.title {
  font-size: 3em;
  text-align: center;
}

.main-container {
  display: flex;
  flex-direction: row;
}

.garage-summary {
  display: flex;
  font-size: 1em;
  margin: 10px;
}

.garage-list {
  flex:1;
}

.single-item {
  background-color: lime;
  flex:1
}
