body, html {
  height: 100%;
  text-align: center;
  background-color: #cfd8dc;
  color: #2b2b2b;
}

span {
  margin: 0px 10px;
  font-size: 1.5em;
}

h1 {
  font-size: 1.25em;
  margin-top: 4px;
}

h3 {
  margin: 10px 0px 10px 20px;
}

input {
  font-size: 1em;
}

button {
  font-size: 1.25em;
  border: none;
  height: 37px;
  width: 45%;
  background-color: #009BA8;
  color: white;
  margin: 20px;
}

button:hover {
  cursor: pointer;
}

#page-wrap {
  text-align: left;
  width: 800px;
  margin: 0 auto;
}

.add-items {
  text-align:center;
}

.cleanliness-selector {
  font-size: 1.10em;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.title {
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  color: #002F33;
  margin: 20px 0px 40px 0px;

}

.items-title {
  text-align: center;
  font-size: 4em;
}

.main-container {
  display: flex;
  flex-direction: row;
}

.garage-summary {
  display: flex;
  justify-content: center;
  margin: 35px 10px 10px 10px;
  font-size: 1em;
}

.half {
  border: solid 1px #8899aa;
  background-color: #e3eaea;
  margin: 10px;
}

.garage-list {
  flex:1;
}

.single-item {
  flex:1
}

.main-item {
  display: block;
}

.item-name {
  font-size: 2em;
}

.list-item-name:hover {
  cursor: pointer;
}
